<h2>Records Info</h2>
<% if @record %>
  <% @record.each do |i| %> 
    <p>Name: <%= i['name'] %> 
      <br>Comment: <%= i['message'] %> 
       <br>Member ID: <%= i['member_id'] %> 
       <br>Datetime: <%= i['datetime'] %>  
      <%= button_to "Delete", { :controller => 'save_data', :datetime => i['datetime'], :member_id => i['member_id']}, :method => :post %>   
    </p>  <% end %>

<% end %>
